*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

:root{
    --plan-container: hsl(225, 100%, 94%);
    --btn-change: hsl(245, 75%, 52%);
    --bgc-card: hsl(0, 0%, 100%);
    --desc-cancel: hsl(224, 23%, 55%);
    --title-plan: hsl(223, 47%, 23%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card{
    background-color: var(--bgc-card);
    width: 330px;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem 2px hsla(224 23% 55% / .6);;
    text-align: center;
}

.hero-img{
    display: block;
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.info{
    margin: 1.5rem 0;
}

.title{
    margin-bottom: 1rem;
    color: var(--title-plan);
    font-size: 1.5rem;
    font-weight: 900;
}

.description{
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--desc-cancel);
}

.plan{
    background-color: hsl(224, 65%, 97%);;
    display: flex;
    align-items: center;
    margin: 1rem 2rem 2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;

}

.price{
    display: inline-block;
    list-style-type: none;
    margin-left: 1rem;
    font-size: 1rem;
}

.price li:first-child{
    color: var(--title-plan);
    font-weight: 900;
}

.price li:last-child{
    color: var(--desc-cancel);
}

.icon-music,
.price,
.change{
    vertical-align: middle;
}

.change{
    margin: 0 0 0 auto;
    color: var(--btn-change);
    font-weight: 500;
}

.btn{
    background-color: var(--btn-change);
    display: block;
    margin: 1rem 2rem;
    padding: 1em;
    border-radius: .7em;
    box-shadow: 0 5px 5px 5px hsla(224  23% 55% / .2);
    color: #fff;
    font-size: .8rem;
    font-weight: 900;
    transition: background-color 500ms ease-in-out;
}

.cancel-btn{
    display: inline-block;
    margin: 1rem 0 2rem 0;
    text-decoration: none;
    color: var(--desc-cancel);
    font-weight: 700;
    transition: color 500ms ;

}

/* Effects hover */

.change:hover{
    color: var(--desc-cancel );
    text-decoration: none;
}
.btn:hover{
    cursor: pointer;
    background-color: var(--desc-cancel);
}
.cancel-btn:hover{
    color: var(--title-plan);
    font-weight: 900;
}
@media screen and (min-width: 800px) {
    body{
        background-image: url('images/pattern-background-desktop.svg');
        background-size: contain;
    }
}
